# DSN GlitchTip/Sentry
NUXT_PUBLIC_SENTRY_DSN=

# Umami
NUXT_PUBLIC_UMAMI_WEBSITE_ID=

# GlitchTip local (docker compose)
GLITCHTIP_SECRET_KEY=replace-with-openssl-rand-hex-32
GLITCHTIP_EMAIL_URL=consolemail://
GLITCHTIP_DOMAIN=http://localhost:8000
GLITCHTIP_DEFAULT_FROM_EMAIL=errors@localhost

# Optionnel pour l'upload des sourcemaps (build CI)
# SENTRY_AUTH_TOKEN=
# SENTRY_ORG=
# SENTRY_PROJECT=
# SENTRY_URL=https://votre-instance-glitchtip.example.com
